@tailwind base;
@tailwind components;
@tailwind utilities;

.loading {
  display: inline-flex;
  align-items: center;
}

.loading .spacer {
  margin-right: 2px;
}

.loading span {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 1px;
}

.post-output {
  white-space: pre-wrap;
  text-align: initial;
}